<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Websocket</title>
  </head>
  <body>
    <h1>Welcome Group {{group}}</h1>
    {{ group | json_script:"group-name"}}
    <br />
    <textarea name="" id="chat-display" cols="100" rows="20" readonly>
    {% for chat in chats %}
    {{chat.content}}
    {% endfor %}
  </textarea
    >
    <br />
    <input type="text" id="chat-input" size="100" /><br />
    <input type="button" id="chat-submit" value="Send" />

    <script>
      const groupname = JSON.parse(
        document.getElementById("group-name").textContent
      );
      // console.log(groupname);
      // console.log(window.location.host);
      const wsURL =
        "ws://" + window.location.host + "/generic/ac/" + groupname + "/";
      // console.log(wsURL);
      let ws = new WebSocket(wsURL);

      ws.onopen = (event) => {
        console.log("Connected websocket Successfully...");
        // ws.send("Hi message from client");
      };
      ws.onmessage = (event) => {
        // console.log(event.data);
        data = JSON.parse(event.data);
        // console.log(data);
        document.getElementById("chat-display").value += data["msg"] + "\n";
      };
      ws.onclose = (event) => {
        console.log("Disconnected Websocket Connection...");
      };
      document.getElementById("chat-submit").onclick = (event) => {
        // console.log("cliked");
        const messageDom = document.getElementById("chat-input");

        // console.log(messageDom.value);
        ws.send(
          JSON.stringify({
            msg: messageDom.value,
          })
        );
        messageDom.value = "";
        // console.log(messageDom.value);
      };
    </script>
  </body>
</html>
